# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml

# Logs
*.log
logs/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated/
.springBeans
.sts4-cache/
bin/

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gen-ds/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
*.env
